 * {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:3rem;

 }

body {
  background-image: url(/images/owl-ga416124a9_1920.jpg);
  background-size: cover;
  color:orange;
  text-align: center;
}

