 * {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:3rem;

 }

body {
  background-image: url(./images/owl.jpg);
  background-size: cover;
  color: rgba(250,129,1,255);
  text-align: center;
}

